body, html {
    font-family: Gotham Pro;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("./font/gothampro.ttf");
}
@font-face {
    font-family: "Gotham Pro";
    src: url("./font/gothampro_bold.ttf");
}
@font-face {
    font-family: "Gotham Pro";
    src: url("./font/gothampro_medium.ttf");
}

.header {
    background-image: url("./img/head_background_desktop.jpg");
    max-height: 257px;
    padding: 60px;
    padding-bottom: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.container {
    max-width: 1600px;
    margin: 0 auto;
}

.header_left {
    display: flex;
    gap: 50px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1400px) {
    .header .container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.header_logo {
    position: relative;
    bottom: 20px;
}

.header_contact {
    display: flex;
    gap: 15px;
    align-items: center;
}

.header_social {
    display: flex;
    gap: 15px;
}

.social_tg, .social_wa {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_phone {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.header_phone a {
    text-decoration: none;
    color: white;
}

.header_menu_list {
    display: flex;
    color: white;
    font-weight: 700;
    gap: 70px;
    list-style: none;
}

.header_menu_list li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 770px) {

    .header_contact {
        flex-direction: column;
    }

    .header_phone {
        font-size: 20px;
    }

    .header_menu_list {
        text-align: center;
    }
}

/* main */

.main {
    background-color: white;
    padding: 0 60px;
}

.tariff_title {
    font-size: 30px;
    text-align: center;
}

.tariff_items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.tariff_item {
    max-width: 385px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    padding: 50px;
}

.item_line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #EEE;
}

.item_name {
    text-align: center;
}

.item_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.item_name span:first-child {
    color: #999;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.item_name span:last-child {
    color: #0F00FF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.item_body p {
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #000;
    font-weight: 400;
}

.item_body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item_price {
    color: #DD0085;
    font-size: 30px;
    font-weight: 700;
    white-space: nowrap;
}


.item_btn {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    font-weight: 700;
    padding: 30px 0;
}


.sub {
    background-image: url("./img/main_background_desktop.png");
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 100px;
    background-size: cover;
    margin: 100px 0;
}

.sub_title {
    color: white;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.sub_items {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.sub_item {
    min-width: 450px;
    padding: 50px 80px;
}

@media (max-width: 1550px) {
    .sub {
        background-position: center;
    }
    
    .sub_item {
        min-width: none;
        width: auto;
    }

    .sub_items {
        flex-wrap: wrap;
    }
}



.inet_items {
    padding: 100px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.10);
}

@media (max-width: 1600px) {
    .inet_items {
        padding: 30px;
    }
}

.inet_title {
    margin-bottom: 130px;
}

.inet_logo {
    margin-bottom: 20px;
}

.inet_logo img {
    width: 20px;
    height: 20px;
}

.inet_item {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 700px) {
    .inet_item {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

.inet_item_left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.inet_item_right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.inet_line {
    margin: 50px 0;    
}

.inet_header {
    display: flex;
}

.inet_name {
    display: flex;
    margin-left: 10px;
}

.inet_name span {
    margin-right: 10px;
}

.inet_btn {
    font-size: 14px;
    border-radius: 10px;
    padding: 20px 60px;
    letter-spacing: 2.8px;
    text-align: center;
}

.inet_price {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: right;
}

.inet_price span {
    font-size: 20px;
}

.inet_text {
    line-height: 150%;
}

.item_packs {
    display: flex;
    gap: 10px;
}

@media (max-width: 1350px) {
    .item_packs {
        flex-wrap: wrap;
    }
}

.item_pack {
    display: block;
    padding: 28px 48px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #DDD;
    line-height: 120%;
    text-align: left;
}

.item_packs-mini .item_pack:not(:first-child) {
    padding: 18px 20px;
}

.item_pack span {
    color: #DD0085;
    font-weight: 700;
}



.footer {
    background-image: url("./img/footer_background_desktop.png");
    max-height: 257px;
    padding: 60px;
    padding-top: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.rectangle {
    display: block;
    background-color: white;
    height: 100px;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    left: 0;
    top: 0;
}

.header .rectangle2 {
    bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: block;
    background-color: white;
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
}

@media (max-width: 575px) {
    .header-top .header_menu {
        display: none;
    }

    .social_tg, .social_wa {
        padding: 20px 40px;
        border-radius: 50px;
        width: 0;
        height: 0;
    }

    .social_tg img, .social_wa img {
        width: 20px;
        height: 20px;
    }

    .header_phone {
        font-size: 18px;
    }

    .header_logo img {
        width: 120px;
        height: 60px;
    }

    .header_left {
        align-items: flex-end;
    }

    .header_logo {
        top: 0px;
    }

    footer .header_menu {
        background-color: #999;
        position: relative;
        top: 60px;
        text-align: center;
    }

    footer .header, .footer {
        padding-left: 0;
        padding-right: 0;
    }

    .header_menu_list {
        gap: 60px;
        padding: 0;
    }

    .header_menu_list li a {
        color: black;
    }

    .tariff_items {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: scroll;
        gap: 10px;
    }

    .tariff_item {
        min-width: 350px;
        padding: 30px;
    }

    .tariff_item:first-child {
        margin-left: 10px;
    } 

    .tariff_item:last-child {
        margin-right: 10px;
    }

    .sub_items {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: scroll;
    }

    .sub {
        padding: 70px 20px;
    }

    .inet_items {
        padding: 30px;
        margin-bottom: 25px;
    }

    .inet_title {
        margin-bottom: 30px;
    }

    .item_pack {
        padding: 10px 28px;
        font-size: 14px;
    }

    .item_packs {
        justify-content: center;
    }

    .inet_price {
        text-align: center;
    }
    
}

@media (max-width: 520px) {
    .item_pack {
        width: 130px;
        font-size: 12px;
        text-align: center;
        white-space: nowrap;
    }

    .tariff_title, .sub_title {
        font-size: 20px;
    }

    .item_body p {
        font-size: 14px;
    }

    .item_name span:last-child, .item_name span:first-child {
        font-size: 18px;
    }

    .tariff_item {
        gap: 30px;
    }

    .item_price {
        font-size: 20px;
    }

    .sub_item {
        min-width: 300px;
    }

    .sub_items {
        gap: 10px;
    }

}
@media (max-width:480px) {
    .main {
        padding: 0 20px;
    }

    .tariff_item {
        min-width: 280px;
    }

    .sub_item {
        min-width: 280px;
    }

    .item_pack {
        padding: 10px 0;
        width: 125px;
    }

    .header_menu_list li a {
        font-size: 12px;
    }

    .header_menu_list {
        margin: 0 35px;
        padding: 14px 0;
        gap: 20px;
    }

    .sub {
        padding: 70px 5px;
    }
}


